<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>

<body>
    <h2>{{pageTitle}}</h2>
    <div class="container">
        <div class="section-user-stories">
            <h4>User Stories</h4>
            <ul>
                {{#each userStories as |userStory|}}
                <li>{{userStory}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="section-examples">
            <h4>Example creation usage:</h4>
            <p>https://example.com/new/https://www.google.com</p>
            <p>https://example.com/new/http://foo.com:80</p>
            <h4>Example creation output</h4>
            <p>{ "original_url":"https://www.google.com", "short_url":"https://example.com/8170" }</p>
            <h4>Usage:</h4>
            <p>https://little-url.herokuapp.com/2871</p>
            <h4>Will redirect to:</h4>
            <p>https://www.google.com/</p>
        </div>
    </div>

</body>

</html>